<span id="badge">
    <%= image_tag("ggc_web_color", width: "190") %>
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="height: 2em;">
            <div id="brand">
                <h1>
                    Geneva Gaming Convention
                </h1>
            </div>
        </div>
        <div class="col-sm-7 col-md-6 col-lg-5 login">
            <div class="col-md-offset-2">
                <% flash.each do |key, value| %>
                <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
                    <p>
                        <%= value %>
                    </p>
                </div>
                <% end %>
            </div>
            <%= render 'form_new' %>
        </div>
        <div class="col-sm-5 col-md-6 col-lg-7 details">
            <p>
                <strong>Welcome to GGC | Geneva Gaming Convention member zone!</strong></br>
                Here you are able to manage all your GGC experience such as create some teams for tournament,</br>
                edit a bunch of personals preferences, find some friends and much more.</br>
                GL HF
            </p>
        </div>
    </div>
</div>
