<button class="btn btn-default wizard-pf-open wizard-pf-complete" data-target="#new_address">Launch wizard</button>
<div class="modal" id="new_address" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg wizard-pf">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close wizard-pf-dismiss" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                    <dt class="modal-title"><%= @wizard_title %></dt>
                </div>
                <div class="modal-body wizard-pf-body clearfix">
                    <div class="wizard-pf-steps hidden">
                        <ul class="wizard-pf-steps-indicator">
                            <li class="wizard-pf-step active" data-tabgroup="1">
                                <a><span class="wizard-pf-step-number">1</span><span class="wizard-pf-step-title">Country</span></a>
                            </li>
                            <li class="wizard-pf-step" data-tabgroup="2">
                                <a><span class="wizard-pf-step-number">2</span><span class="wizard-pf-step-title">Street</span></a>
                            </li>
                            <li class="wizard-pf-step" data-tabgroup="3">
                                <a><span class="wizard-pf-step-number">3</span><span class="wizard-pf-step-title">State</span></a>
                            </li>
                            <li class="wizard-pf-step" data-tabgroup="4">
                                <a><span class="wizard-pf-step-number">4</span><span class="wizard-pf-step-title">Check it!</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="wizard-pf-row">
                        <div class="wizard-pf-sidebar hidden">
                            <ul class="list-group">
                                <li class="list-group-item active">
                                    <a>
                                        <span class="wizard-pf-substep-number">1A.</span>
                                        <span class="wizard-pf-substep-title">Select a country</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-group hidden">
                                <li class="list-group-item">
                                    <a>
                                        <span class="wizard-pf-substep-number">2A.</span>
                                        <span class="wizard-pf-substep-title">Street's name</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a>
                                        <span class="wizard-pf-substep-number">2B.</span>
                                        <span class="wizard-pf-substep-title">Street's number</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-group hidden">
                                <li class="list-group-item">
                                    <a>
                                        <span class="wizard-pf-substep-number">3A.</span>
                                        <span class="wizard-pf-substep-title">State's name</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a>
                                        <span class="wizard-pf-substep-number">3B.</span>
                                        <span class="wizard-pf-substep-title">State's postal code (NPA)</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-group hidden">
                                <li class="list-group-item">
                                    <a>
                                        <span class="wizard-pf-substep-number">4A.</span>
                                        <span class="wizard-pf-substep-title">Check</span>
                                    </a>
                                </li>
                            </ul>
                        </div> <!-- /.wizard-pf-sidebar -->
                        <div class="wizard-pf-main">
                            <div class="wizard-pf-loading blank-slate-pf">
                                <div class="spinner spinner-lg blank-slate-pf-icon">
                                </div>
                                <h3 class="blank-slate-pf-main-action">
                                    Loading Wizard
                                </h3>
                                <p class="blank-slate-pf-secondary-action">
                                    Address wizard...
                                </p>
                            </div>
                            <div class="wizard-pf-contents hidden">
                                <form class="form-horizontal">
                                    <!-- replacing id with data-id to pass build errors -->
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="textInput-markup">
                                            Country
                                        </label>
                                        <div class="col-sm-10">
                                            <select class="form-control">
                                                <option>Switzerland</option>
                                                <option>France</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="wizard-pf-contents hidden">
                                <form class="form-horizontal">
                                    <div class="form-group required">
                                        <label class="col-sm-4 control-label" for="input_street_name">
                                            Street's name
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" id="input_street_name" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="wizard-pf-contents hidden">
                                <form class="form-horizontal">
                                    <div class="form-group required">
                                        <label class="col-sm-4 control-label" for="input_street_number">Street's number</label>
                                        <div class="col-sm-2">
                                            <input type="text" id="input_street_number" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="wizard-pf-contents hidden">
                                <form class="form-horizontal">
                                    <div class="form-group required">
                                        <label class="col-sm-4 control-label" for="input_state_name">State's name</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="input_state_name" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="wizard-pf-contents hidden">
                                <form class="form-horizontal">
                                    <div class="form-group required">
                                        <label class="col-sm-4 control-label" for="input_state_code">State's postal code (NPA)</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="input_state_code" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="wizard-pf-contents hidden">
                                <form class="form-horizontal">
                                    <div class="form-group required">
                                        <label class="col-sm-4 control-label" for="input_state_codesda">Ssssstate's postal code (NPA)</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="input_state_codesda" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="wizard-pf-contents hidden">
                                <form class="form-horizontal">
                                    <div class="form-group required">
                                        <label class="col-sm-4 control-label" for="input_state_cod22e">Ssssstate's postal code (NPA)</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="input_state_cod22e" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="wizard-pf-contents hidden">
                                <div class="wizard-pf-process blank-slate-pf">
                                    <div class="spinner spinner-lg blank-slate-pf-icon"></div>
                                    <h3 class="blank-slate-pf-main-action">address creation in progress</h3>
                                    <p class="blank-slate-pf-secondary-action">

                                    </p>
                                </div>
                                <div class="wizard-pf-complete blank-slate-pf hidden">
                                    <div class="wizard-pf-success-icon"><span class="glyphicon glyphicon-ok-circle"></span></div>
                                    <h3 class="blank-slate-pf-main-action">Address created successfuly</h3>
                                    <p class="blank-slate-pf-secondary-action">
                                        This new address is now linked to your account.
                                    </p>
                                    <button type="button" class="btn btn-lg btn-primary">
                                        View address
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.wizard-pf-main -->
                    </div>

                </div><!-- /.wizard-pf-body -->

                <div class="modal-footer wizard-pf-footer">
                    <button type="button" class="btn btn-default btn-cancel wizard-pf-cancel wizard-pf-dismiss">Cancel</button>
                    <button type="button" class="btn btn-default wizard-pf-back disabled">
                        <span class="i fa fa-angle-left"></span>
                        Back
                    </button>
                    <button type="button" class="btn btn-primary wizard-pf-next disabled">
                        Next
                        <span class="i fa fa-angle-right"></span>
                    </button>
                    <button type="button" class="btn btn-primary hidden wizard-pf-finish">
                        Save
                        <span class="i fa fa-angle-right"></span>
                    </button>
                    <button type="button" class="btn btn-primary hidden wizard-pf-close wizard-pf-dismiss">Close</button>
                </div><!-- /.wizard-pf-footer -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</div>
</div>
