<script src="//maps.googleapis.com/maps/api/js"></script>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="street-modal-markup">Street</label>
        <div class="col-sm-9">
            <input type="text" id="street-modal-markup" class="form-control" required="true">
        </div>
    </div>
    <div id="addrs_results">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="submit_btn" type="button" class="btn btn-primary" disabled="true">Create</button>
    </div>
</form>
