<div class="row">
  <div class="col-md-12">
    <div class="card-pf card-pf-accented card-pf-aggregate-status">
      <div class="card-pf-title">
        <span class="glyphicon pficon-project" aria-hidden="true"></span>
        Friend's group
      </div>
      <div class="card-pf-body">
        <%= render 'list_groups' %>
      </div>
    </div>
  </div>
</div>
