<div class="row">
  <div class="col-md-12">
    <div class="card-pf card-pf-accented card-pf-aggregate-status">
      <div class="card-pf-title">
        <h1>
          <span class="glyphicon pficon-project" aria-hidden="true"></span>
          <%= @group.name.capitalize %><br/>
          <small>tag: [<%= @group.tag.upcase %>]</small>
        </h1>
      </div>
      <div class="card-pf-body">
        <div class="row">
          <div class="col-md-4">
            Members:
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Infos</th>
                </tr>
              </thead>
              <tbody>
                <% @group.group_members.each do |member| %>
                <% user = member.user %>
                <tr>
                  <td><%= user.name.capitalize%></td>
                  <td><%= user.lastname.capitalize%></td>
                  <td>
                    <% if member.is_creator %>
                    <span class="glyphicon pficon-help" aria-hidden="true"></span>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
