<div class="row">
  <div class="col-md-12">
    <div class="card-pf card-pf-accented card-pf-aggregate-status">
      <h2><%= resource.title %></h2>
      <div class="card-pf-body">
        <p>
          <h5>Starting date: <%= resource.start_at.strftime("%d %B %Y at %Hh%M") %></h5>
        </p>
        <p>
          <%= resource.description %>
        </p>
        <p>
          <iframe src="<%= resource.remote_url%>" width="100%" height="600" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
        </p>
      </div>
    </div>
  </div>
</div>
