<div class="col-md-4 col-xs-12">
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h1 class="card-pf-title">
      Registration type
    </h1>
    <div class="card-pf-body" style="text-align:left;">
      <div class="row">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12 col-md-12">
              <div class="div-radio btn-primary active">
                <h4>Player</h4>
                <p>If you plan to come with your pc, you're in the right section. Allow access to the GGC lan party !</p>
                <%= radio_button_tag(:registration_type, "player", checked = true) %>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="div-radio">
                <h4>Visitor</h4>
                <p>Allow access to the convention only.</p>
                <%= radio_button_tag(:registration_type, "visitor") %>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="div-radio">
                <h4>Staff</h4>
                <p>Empower the E-sport scene.</p>
                <%= radio_button_tag(:registration_type, "staff") %>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
