<div class="col-md-4 col-xs-12">
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h1 class="card-pf-title">
      Registration options
    </h1>
    <div class="card-pf-body" style="text-align:left;">
      <div class="row">

      </div>
    </div>
  </div>
</div>
