<div class="col-md-4">
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h1 class="card-pf-title">
      <span class="glyphicon glyphicon-knight"></span> Games account
    </h1>
    <div class="card-pf-body">
      <%= render 'modal_new_game_account'%>
      <% if @user.having_game_accounts %>
        <% @user.game_accounts.each do |game_account| %>
          <% if game_account.game_provider.name == "steam" %>
          <%= render 'steam_accounts/show', game_account: game_account %>
          <% elsif game_account.game_provider.name == "battlenet" %>
          <%= render 'battlenet_accounts/show', game_account: game_account %>
          <% end %>
        <% end %>
        <div class="blank-slate-pf-main-action">
          <button class="btn btn-primary btn-lg " data-toggle="modal" data-target="#new_game_account_modal">Add an other</button>
        </div>
      <% else %>
        <%= render 'empty_state', title: "Game account", info: "", action: "Add new", toggle: "modal", target:"#new_game_account_modal" %>
      <% end %>
    </div>
  </div>
</div>
