<div class="col-md-4">
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <h1 class="card-pf-title">
      <span class="glyphicon glyphicon-knight"></span> Games account
    </h1>
    <div class="card-pf-body">
      <%= render 'empty_state', title: "Game account", info: "", action: "Add new (soon™)", cssclass: "disabled" %>
    </div>
  </div>
</div>
