<div class="col-md-4">
    <div class="card-pf card-pf-accented card-pf-aggregate-status">
        <h1 class="card-pf-title">
            <span class="glyphicon glyphicon-earphone"></span> Phone
        </h1>
        <div class="card-pf-body">
            <%= render 'empty_state', title: "Phone n°", info: "", action: "Add new" %>
        </div>
    </div>
</div>
