<p>
  <h4>Instruction</h4>

</p>
<p>
  <h4>Bank informations</h4>
  <dl class="dl-horizontal">
    <dt>Account name</dt><dd class="text-left">Association Geneva Gaming Convention (GGC)</dd>
    <dt>Bank</dt><dd class="text-left">Postfinance</dd>
    <dt>Account number</dt><dd class="text-left">CCP 14-844386- 7</dd>
    <dt>IBAN</dt><dd class="text-left">CH72 0900 0000 1484 4386 7</dd>
  </dl>
</p>
