<div class="modal fade" id="bank_info" aria-labelledby="bank_info_label" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Pay by bank transfer</h4>
      </div>
      <div class="modal-body">
        <%= render 'registrations/bank_data' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">It's ok, I have done my payment</button>
      </div>
    </div>
  </div>
</div>
