<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Say your name !</h3>
  </div>
  <div class="panel-body text-center">
    <div class="col-md-12" style="margin-bottom:1em;">
      <%= image_tag "heisenberg", size: "128x128", :class => "img-circle" %>
    </div>
    <p>
      Who are you in the E-Sports world, we cannot know.</br>
      So please, log you in before asking for a registration...
    </P>
    <%= link_to 'Take me to the login page', login_path, :class=>"btn btn-lg btn-primary" %>
  </div>
</div>
