<% if current_logged_user && current_logged_user.is_ready_for_registration %>
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<button id="customButton" class="btn btn-primary btn-lg">Purchase</button>
<script>
init_stripe("<%= current_logged_user.mail %>")
</script>
<button id="apple-pay-button" type="button"></button>
<% else %>
<div class="panel panel-info" style="margin-top:1em;">
  <div class="panel-heading">
    <h3 class="panel-title">You are not prepared !</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12 text-center" style="margin-bottom:1em;">
      <%= image_tag "illidan", size: "128x128", :class => "img-circle" %>
    </div>
    <p>
      Your GGC account is not ready for registration yet.</br>
      <% if current_logged_user %>
      Check your <%= link_to "account status", user_path(current_logged_user) %> and come back later.
      <% end %>
    </p>
  </div>
</div>
<% end %>
