<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <% if game_account.name %>
        <h3><%= game_account.name.capitalize %></h3>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= image_tag("bnet_logo", class: "img-circle", width: "54") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5>Bnet ID: <small><%= game_account.account_id %></small></h5>
      </div>
      <div class="col-md-6">
        <h5>Action:</h5>
        <p>
          <%= link_to user_battlenet_account_path(current_logged_user.id, game_account.id), method: :delete, class: "btn btn-danger btn-xs" do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
