<script type="text/javascript">
<%= render :partial => "display_commits.js" %>
</script>
<div class="row">
  <div class="col-md-4">
    <h1>Latest updates</h1>
    <div id="commits">
      <div class="card-pf card-pf-accented card-pf-aggregate-status">
        <div class="card-pf-body">
          <div class="spinner"></div>
        </div>
      </div>
    </div>
  </div>
</div>
