<div class="row">
  <div class="col-md-4">
    <h4>Log in with Steam</h4>
  </div>
  <div class="col-md-8">
    <%= link_to new_steam_account_path do %>
    <%= image_tag 'steam_oauth'%>
    <% end %>
  </div>
</div>
