<div class="row">
  <div class="col-md-12">
    <h4>Add a Steam account</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to new_steam_account_path do %>
    <%= image_tag 'steam_oauth', class: "btn btn-primary", style: "height: 100px; margin: 1em;"%>
    <% end %>
  </div>
</div>
