.banner{
  -webkit-background-size: cover;
  background-size: cover;
  padding: 2em;
  color: #FFF;
  background-color: #000;
  margin-bottom: -20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.ow{
  background: image-url('ow.jpg') repeat-x top right fixed;
}

.cs{
  background: image-url('cs.jpg') repeat-x top right fixed;
}

.lol{
  background: image-url('lol.jpg') repeat-x top right fixed;
}

.hs{
  background: image-url('hs.jpg') no-repeat top right fixed;
}

.rl{
  background: image-url('rl.jpg') no-repeat top right fixed;
}
