.row{
  width: 100%;
  margin: auto;
}

header{
  margin-bottom: 2em;
}

a.navbar-brand:hover{
  background-color: none;
}

.blank-slate-pf{
  padding: 30px 30px;
}

h1.card-pf-title{
  font-size: 18px !important;
}

.panel-actions{
  text-align: right;
  padding: 0.5em;
  border-bottom: 1px solid grey;
}

.about-modal-pf {
  background-image: none;
}

.nav-pf-vertical {
  margin-top: 2px;
}

.danger_zone{
  background-image: image-url("danger-zone.jpg");
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  h1.card-pf-title {
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
  }
}

.navbar-brand-name:hover{
  border-width:0px 0px 1px 0px;
  border-style:inset inset inset inset;
  border-color:#4CACD5;
}

li.list-group-item.spacer {
  height: 2px;
  border-width:1px 0px 0px 0px;
  border-style:solid solid solid solid;
  border-color:#000000 #000000 #000000 #000000;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
