.row{
  width: 100%;
  margin: auto;
}
header{
  margin-bottom: 2em;
}

a.navbar-brand:hover{
  background-color: none;
}


.blank-slate-pf{
  padding: 30px 30px;
}

h1.card-pf-title{
  font-size: 18px !important;
}

.panel-actions{
  text-align: right;
  padding: 0.5em;
  border-bottom: 1px solid grey;
}

.about-modal-pf {
  background-image: none;
}
