// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-pf body{
    background-image: image-url("bg.png");
    #brand{
        top: -10em;
        h1{
            font-size: 48px;
            color: #FFF;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        }
    }
}

.container{
    background-color: rgba(0, 0, 0, 0.6) !important;
}
