.snaptable {
  background: #f5f5f5;

  .table_buttons {
    padding: 10px 20px;
    border: 1px solid #d1d1d1;

    a {
      background-color: #f1f1f1;
      box-shadow: 0 2px 3px rgba(3, 3, 3, 0.1);
      padding: 2px 6px;
      color: #4d5258;
      border: 1px solid #bbb;
    }

    a.on { 
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }
  }

  .table_container {
    overflow-x: scroll;

    tr:nth-of-type(odd) {
      background-color: white;
    }

    tr.selected { 
      background-color: #0088ce !important;
      color: #fff; 
      cursor: pointer;
    }

    tr {
      &:hover {
        background-color: #def3ff;
      }
    }

    td, th {
      padding: 2px 10px 3px;
      border: 1px solid #d1d1d1;
    }

    th {
      vertical-align: bottom;
    }

    td {
      line-height: 1.666;
    }
  }
}