<div class="card-pf">
  <div class="card-pf-heading">
    <h2 class="card-pf-title">
      Registration process
    </h2>
  </div>
  <div class="card-pf-body">
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-2">
          <h2>1⃣</h2>
        </div>
        <div class="col-md-10">
          <h2>Create a GGC account</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-2">
          <h2>2⃣</h2>
        </div>
        <div class="col-md-10">
          <h2>Complete your personals informations</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-2">
          <h2>3⃣</h2>
        </div>
        <div class="col-md-10">
          <h2>Create a friend's group</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-2">
          <h2>4⃣</h2>
        </div>
        <div class="col-md-10">
          <h2>Create a team and apply to a teambased game tournament</h2>
        </div>
      </div>
    </div>
  </div>
</div>
