<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content about-modal-pf">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Genva Gaming Convention</h1>
                <div class="product-versions-pf">
                    <!--<ul class="list-unstyled">
                        <li><strong>Label</strong> Version</li>
                        <li><strong>Label</strong> Version</li>
                        <li><strong>Label</strong> Version</li>
                        <li><strong>Label</strong> Version</li>
                        <li><strong>Label</strong> Version</li>
                        <li><strong>Label</strong> Version</li>
                    </ul>-->
                </div>
                <div class="trademark-pf">
                    GGC © 2016
                </div>
            </div>
            <div class="modal-footer">
                <%= image_tag("ggc_web_color", width: "64") %>
            </div>
        </div>
    </div>
</div>
