<div class="text-right col-md-12">
  <%= link_to 'https://www.toornament.com', :target => "_blank" do %>
  <%= image_tag 'toornament_powered', height: 32, alt: 'powered by Toornament'%>
  <% end %>
</div>
